.guion { border: 3px solid #fff; width: 30%; margin: auto; }

#header { font-family: 'Ubuntu Condensed', sans-serif; background: url(../images/HERO.jpg) no-repeat; background-attachment: fixed; background-size: cover; height: 100vh; width: 100%; }
#header .capa1 { position: absolute; height: 100vh; width: 100%; background: rgba(0, 0, 0, 0.9); }
#header .letrero { margin: 1% 32%; width: 32%; -webkit-transform-origin: top center; transform-origin: top center; -webkit-animation-name: swing; animation-name: swing; -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }
#header .navbar-default { background: rgba(8, 8, 8, 0.8); border-color: transparent; margin-top: 4%; }
#header .navbar-default .navbar-collapse { margin: 3% 22% 0% 22%; }
#header .navbar-default .navbar-collapse ul { width: 100%; }
#header .navbar-default .navbar-collapse ul li { width: 25%; }
#header .navbar-default .navbar-collapse ul li a { width: 100%; font-size: 30px; font-weight: bolder; color: #0D0; text-align: center; text-shadow: 0px -1.5px 0px #fff; font-family: Lobster Two, cursive; }

@media only screen and (max-width: 500px) { #header { height: 100vh; }
  #header .letrero { height: 70%; width: 75%; margin: 10% 10% 0% 10%; }
  #header .navbar-default { margin-top: 20%; } }
footer { background: url(../../images2/footer-02.png); background-attachment: fixed; padding: 5% 0%; color: white; }
footer img { width: 75%; margin: auto; margin-bottom: 3%; display: block; }
footer .col-md-2 { text-align: center; }
footer .col-md-2 .fa { font-size: 50px; }
footer .col-md-2 .fa-linkedin-square, footer .col-md-2 .fa.fa-facebook-square { color: #ff0880; }
footer .col-md-2 .fa.fa-google-plus-square, footer .col-md-2 .fa-envelope { color: #ffff00; }
footer .col-md-2 .fa.fa-github-square, footer .col-md-2 .fa.fa-phone-square { color: #0D0; }
footer span { font-size: 18px; }
footer p { font-family: Capriola, sans-serif; font-size: 14px; }

#yo { padding: 4% 0%; background-color: black; }

#yo h2 { font-size: 65px; color: #ff0880; font-family: Lobster Two, cursive; margin-bottom: 2%; text-align: center; }

#yo .foto { width: 80%; margin: auto; }

#yo .foto img { width: 100%; height: 550px; border: 15px solid #ffff00; }

#yo p { padding: 11% 10%; text-align: justify; line-height: 2; font-family: Capriola, sans-serif; color: white; font-size:24px;}

#skills [class*="col-"] { margin: 0px; padding: 4% 1%; }
#skills .container-fluid { background-color: black; }
#skills h2 { font-family: Lobster Two, cursive; font-size: 65px; color: #ff0880; text-align: center; margin-bottom: 4%; }
#skills .negro { background-color: black; }
#skills .fuxia { background-color: #ff0880; }
#skills .yellow { background-color: #ffff00; }
#skills .gray { background-color: #080808; }
#skills .demo-3 { position: relative; overflow: hidden; text-decoration: none !important; list-style: none !important; }
#skills .demo-3 figure { margin: 0%; padding-top: 25px; position: relative; cursor: pointer; margin-left: -50px; }
#skills .demo-3 figure .icon { color: #32FF39; display: block; position: relative; transition: all 0.5s; font-size: 5em; margin: auto; text-align: center; }
#skills .demo-3 figure figcaption { top: 1%; left: 0; padding: 1%; text-align: center; font-family: Capriola, sans-serif; backface-visibility: hidden; transform: rotateY(-180deg); transition: all 0.5s; }
#skills .demo-3 figure figcaption h3 { font-family: Capriola, sans-serif; }
#skills .demo-3 figure:hover .icon { transform: rotateY(180deg); }
#skills figure.hover .icon { transform: rotateY(180deg); }
#skills .demo-3 figure:hover figcaption, #skills figure.hover figcaption { transform: rotateY(0); }

.conten { width: 100%; }

#portafolio { padding-top: 1%; background: black; }
#portafolio .title { font-family: Lobster Two, cursive; font-size: 65px; color: #ff0880; text-align: center; margin-bottom: 4%; }
#portafolio .cdr-trabajo { margin-bottom: 10%; }
#portafolio .cdr-trabajo .imagen { width: 90%; height: 230px; border: 5px solid #fff; text-align: center; margin: auto; }
#portafolio .cdr-trabajo .imagen img { width: 100% ; height: 100% ;}
#portafolio .cdr-trabajo .redes { margin-top: 3%; text-align: center; color: #0D0; }
#portafolio .cdr-trabajo .redes .btn { border: 2px solid #0D0; height: 40px; width: 10%; padding: 3% 2.3%; }
#portafolio .cdr-trabajo .redes .btn i { font-size: 18px; color: #0D0; }

/*# sourceMappingURL=main.css.map */
