footer#contacto
	img(src="images2/footer-01.png") 
	.container		
		.row
			.col-md-2
				a(href="https://pe.linkedin.com/in/pierina-acevedo-bustamante-477889120")
					span.fa.fa-linkedin-square
					p Pierina Acevedo
			.col-md-2
				a(href="https://plus.google.com/u/0/107408537508653857015/posts/p/pub")
					span.fa.fa-google-plus-square
					p Pierina Acevedo
			.col-md-2
				a(href='https://github.com/pierab')
					span.fa.fa-github-square
					p pierab
			.col-md-2
				a(href='https://www.facebook.com/pierina.acevedo2?fref=ts')
					span.fa.fa-facebook-square
					p Piera Acevedo
			.col-md-2
				span.fa.fa-phone-square
				p 987 654 321
			.col-md-2
				a(href='https://mail.google.com/mail/u/0/#inbox?compose=15555216386d2122')
					span.fa.fa-envelope
					p pierinacevedo@gmail.com