footer#contacto
	img(src="images2/footer-01.png") 
	.container		
		.row
			.col-md-2
				span.fa.fa-linkedin-square
					a(href="")
				p Pierina Acevedo
			.col-md-2
				span.fa.fa-google-plus-square
				p Pierina Acevedo
			.col-md-2
				span.fa.fa-github-square
				p pierab
			.col-md-2
				span.fa.fa-facebook-square
				p Piera Acevedo
			.col-md-2
				span.fa.fa-phone-square
				p 987 654 321
			.col-md-2
				span.fa.fa-envelope
				p pierinacevedo@gmail.com