meta(charset="UTF-8")
meta(name="viewport" content="width=device-width, initial-scale=1.0")
link(rel="icon" href="favicon.png" type="favicon.ico")
title Pierina Acevedo
<link href='https://fonts.googleapis.com/css?family=Lobster+Two:400,700italic,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Capriola' rel='stylesheet' type='text/css'>
link(href="assets/css/bootstrap.min.css" rel="stylesheet")
link(rel="stylesheet" href="assets/font-awesome-4.6.3/css/font-awesome.min.css")
link(href='https://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css')
link(href='https://fonts.googleapis.com/css?family=Quicksand' rel='stylesheet' type='text/css')
link(href="assets/css/main.css" rel="stylesheet")
