section#header
	.capa1.overflow
		img.letrero(src="assets/images/letrero.png")
		nav(role="navigation" class="navbar navbar-default")
			div.navbar-header
				button(type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle")
					span.sr-only Toggle navigation
					span.icon-bar
					span.icon-bar
					span.icon-bar
			div(id="navbarCollapse" class="collapse navbar-collapse")
				ul.nav.navbar-nav
					li
						a(href="#yo") Sobre mí
					li
						a(href="#skills") Skills
					li
						a(href="#portafolio") Portafolio
					li
						a(href="#contacto") Contacto
				