include mixin
section#yo
  .container-fluid
    h2 Yo
    .row    
      .col-md-6
        .foto
          img(src="images2/yo.jpg")
      .col-md-6
        
section#skills
  .container-fluid
    h2 ¿Quién dice que no puedo?
    .row
      .col-md-3.negro
        ul.demo-3
          li
            figure
              span.icon.fa.fa-file-code-o
              figcaption
                h3 Soy Desarrolladora Web
         
      .col-md-3.gray
        ul.demo-3
          li
            figure
              span.icon.fa.fa-hand-paper-o
              figcaption
                h3 Hago todo con una mano
         
      .col-md-3.negro
        ul.demo-3
          li
            figure
              span.icon.fa.fa-pencil-square-o
              figcaption
                h3 Soy Diseñadora Gráfica
      
      .col-md-3.gray
        ul.demo-3
            li
              figure
                span.icon.fa.fa-html5
                figcaption
                  h3 Hago HTML
    .row
      .col-md-3.gray
        ul.demo-3
            li
              figure
                span.icon.fa.fa-smile-o
                figcaption
                  h3 Siempre sonrío
         
      .col-md-3.negro
        ul.demo-3
          li
            figure
              span.icon.fa.fa-terminal
              figcaption
                h3 Manejo Sass y Jade
      .col-md-3.gray
        ul.demo-3
          li
            figure
              span.icon.fa.fa-heartbeat
              figcaption
                h3 Nunca me rindo
      .col-md-3.negro
        ul.demo-3
          li
            figure
              span.icon.fa.fa-css3
              figcaption
                h3 CSS 
section#portafolio
      h2.title Esto es lo que hago
      .container-fluid
          .row
              .col-md-4
                  .cdr-trabajo
                      .imagen
                      .redes
                          .btn.plus
                              i(class="fa fa-search" aria-hidden="true")
                          .btn.git
                            a(href="https://github.com/pierab/kane")
                              i(class="fa fa-github" aria-hidden="true")
                                
              .col-md-4
                  .cdr-trabajo
                      .imagen
                      .redes
                          .btn.plus
                              i(class="fa fa-search" aria-hidden="true")
                          .btn.git
                              i(class="fa fa-github" aria-hidden="true")
                                a(href="https://github.com/pierab/agency-theme")
              .col-md-4
                  .cdr-trabajo
                      .imagen
                      .redes
                          .btn.plus
                              i(class="fa fa-search" aria-hidden="true")
                          .btn.git
                              i(class="fa fa-github" aria-hidden="true")
                                a(href="https://github.com/pierab/loveblog")
          .row
              .col-md-4
                  .cdr-trabajo
                      .imagen
                      .redes
                          .btn.plus
                              i(class="fa fa-search" aria-hidden="true")
                          .btn.git
                              i(class="fa fa-github" aria-hidden="true")
                                a(href="https://github.com/pierab/blogresponsive")
              .col-md-4
                  .cdr-trabajo
                      .imagen
                      .redes
                          .btn.plus
                              i(class="fa fa-search" aria-hidden="true")
                          .btn.git
                              i(class="fa fa-github" aria-hidden="true")
                                a(href=" https://github.com/pierab/triangle-theme")
              .col-md-4
                  .cdr-trabajo
                      .imagen
                      .redes
                          .btn.plus
                              i(class="fa fa-search" aria-hidden="true")
                          .btn.git
                              i(class="fa fa-github" aria-hidden="true")
                                a(href="https://github.com/maggy95/La-Republica-Examen")