section#yo
  .container-fluid
    h2 Yo
    .row    
      .col-md-6
        .foto
          img.img-responsive(src="images2/PIERI.jpg")
      .col-md-6
       p Coder del Programa Laboratoria 2016-I, con alta capacidad creativa de trabajo bajo presión. Proactiva y enfocada hacia el cumplimiento de objetivos.
        
section#skills
  .container-fluid
    h2 ¿Quién dice que no puedo?
    .row
      .col-md-3.negro
        ul.demo-3
          li
            figure
              span.icon.fa.fa-file-code-o
              figcaption
                h3 Soy Desarrolladora Web
         
      .col-md-3.gray
        ul.demo-3
          li
            figure
              span.icon.fa.fa-hand-paper-o
              figcaption
                h3 Hago todo con una mano
         
      .col-md-3.negro
        ul.demo-3
          li
            figure
              span.icon.fa.fa-pencil-square-o
              figcaption
                h3 Soy Diseñadora Gráfica
      
      .col-md-3.gray
        ul.demo-3
            li
              figure
                span.icon.fa.fa-html5
                figcaption
                  h3 Hago HTML
    .row
      .col-md-3.gray
        ul.demo-3
            li
              figure
                span.icon.fa.fa-smile-o
                figcaption
                  h3 Siempre sonrío
         
      .col-md-3.negro
        ul.demo-3
          li
            figure
              span.icon.fa.fa-terminal
              figcaption
                h3 Manejo Sass y Jade
      .col-md-3.gray
        ul.demo-3
          li
            figure
              span.icon.fa.fa-heartbeat
              figcaption
                h3 Nunca me rindo
      .col-md-3.negro
        ul.demo-3
          li
            figure
              span.icon.fa.fa-css3
              figcaption
                h3 CSS 
section#portafolio
      h2.title Esto es lo que hago
      .container-fluid
          .row
              .col-md-4
                  .cdr-trabajo
                      .imagen
                        img.img-responsive(src="images2/kane.jpg")
                      .redes
                          .btn.plus
                            a(href="http://pierab.github.io/kane/")
                              i(class="fa fa-search" aria-hidden="true")
                          .btn.git
                            a(href="https://github.com/pierab/kane")
                              i(class="fa fa-github" aria-hidden="true")
                                
              .col-md-4
                  .cdr-trabajo
                      .imagen
                        img.img-responsive(src="images2/agency.jpg")
                      .redes
                          .btn.plus
                            a(href="http://pierab.github.io/agency-theme/")
                              i(class="fa fa-search" aria-hidden="true")
                          .btn.git
                            a(href="https://github.com/pierab/agency-theme")  
                              i(class="fa fa-github" aria-hidden="true")
                              
              .col-md-4
                  .cdr-trabajo
                      .imagen
                        img.img-responsive(src="images2/love.jpg")
                      .redes
                          .btn.plus
                            a(href="http://pierab.github.io/loveblog/")
                              i(class="fa fa-search" aria-hidden="true")
                          .btn.git
                            a(href="https://github.com/pierab/loveblog")  
                              i(class="fa fa-github" aria-hidden="true")
                              
          .row
              .col-md-4
                  .cdr-trabajo
                      .imagen
                        img.img-responsive(src="images2/responsiveblog.png")
                      .redes
                          .btn.plus
                            a(href="http://maggy95.github.io/responsive_blog/")
                              i(class="fa fa-search" aria-hidden="true")
                          .btn.git
                            a(href="https://github.com/pierab/blogresponsive")  
                              i(class="fa fa-github" aria-hidden="true")
                                
              .col-md-4
                  .cdr-trabajo
                      .imagen
                        img.img-responsive(src="images2/triangle.jpg")
                      .redes
                          .btn.plus
                            a(href="")
                              i(class="fa fa-search" aria-hidden="true")
                          .btn.git
                            a(href=" https://github.com/pierab/triangle-theme")  
                              i(class="fa fa-github" aria-hidden="true")
                              
              .col-md-4
                  .cdr-trabajo
                      .imagen
                        img.img-responsive(src="images2/dobler.jpg")
                      .redes
                          .btn.plus
                            a(href="http://doblerestudios.com.pe/")
                              i(class="fa fa-search" aria-hidden="true")
                          .btn.git
                            a(href="https://github.com/WaviisCR/proyecto-doble-r")  
                              i(class="fa fa-github" aria-hidden="true")
                              