#yo {
  padding: 4% 0%;
  background-color: black; }
  #yo h2 {
    font-size: 65px;
    color: #ff0880;
    font-family: Lobster Two, cursive;
    margin-bottom: 2%;
    text-align: center; }
  #yo .foto {
    width: 80%;
    margin: auto; }
    #yo .foto img {
      width: 100%;
      border: 15px solid #ffff00; }
  #yo p {
    padding: 11% 10%;
    text-align: justify;
    line-height: 2; 
    font-family: $fontbody;
    font-size: 24px;
    color: white;
  }

@media screen and (max-width:600px) {
  #portafolio{
    .cdr-trabajo{
      .imagen{
        img{
          height: 100%;
          width: 100%;
        }
      }
      .redes{
        .btn{
          padding:2% !important;
        }
      }
    }
  }
}